html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --wht: #f8f8f8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  color: black;
}

/*************
General Elements
**************/

/*************
Images
**************/
img {
  width: 100%;
  height: auto;
  display: block;
}

/*************
Buttons / Links
**************/

/*************
Typography
**************/

/*************
Layout
**************/

/*************
Media Queries
**************/
